[2019-04-22 16:53] danielgrijalva opened #2 "Suggest a name"
We can't name the app "letterboxd for games" :man_shrugging:

[2019-04-22 19:00] danielgrijalva opened #4 "Documentation"
**Pending docs:**
- ~~Motivation~~
- ~~Contributing~~
- ~~Code style/guidelines~~
- ~~Code of conduct~~
- ~~Backend endpoints~~
- ~~Current features~~
- Git workflow/guidelines
- React project/componentes
- Known bugs
- Testing
- Desired features

[2019-04-22 21:08] danielgrijalva opened #6 "Implement a router"
We should use something like [React](https://reacttraining.com/react-router/web/guides/quick-start)/[Reach](https://reach.tech/router) router to handle navigation and routing inside the app

[2019-04-22 21:29] #6 closed

[2019-04-29 00:42] danielgrijalva opened #9 "Ditch the IGDB API"
The IGDB API is not restful and 10k calls/month is not enough. Having to do multiple API calls to get the necessary info for a game is *very* frustrating.

Maybe switch to [Giant Bomb's API](https://www.giantbomb.com/api/) or [MobyGames](https://www.mobygames.com/info/api).

[2019-04-29 22:05] #9 closed

[2019-05-03 21:46] danielgrijalva opened #14 "Error handling"
Must implement try/catch both in backend and frontend.

[2019-05-05 04:29] danielgrijalva opened #16 "Refactor React code"
React code is a mess.

Must separate code into components and create a logical folder structure.

[2019-05-05 18:41] danielgrijalva commented on #16
#17 👍

[2019-05-05 18:41] #16 closed

[2019-05-06 04:12] danielgrijalva opened #18 "Test environment"
We should have a self-deploying version of the app available to contributors.

Current options are Heroku/Netlify/Now 🤷‍♂

[2019-05-06 04:17] danielgrijalva opened #19 "Testing"
Currently we have **0** tests 🤭

- How are APIs built with Django REST Framework tested?
- How can one test React components?

[2019-05-06 04:21] danielgrijalva opened #20 "Implement GitFlow"
A robust git workflow makes it easier for new contributors to, well, *contribute*.

[More info](https://datasift.github.io/gitflow/IntroducingGitFlow.html).

[2019-05-06 04:53] danielgrijalva opened #21 "Continuous Integration"
Set up Travis CI or CircleCI for checking future pull requests.

[2019-05-06 15:54] danielgrijalva opened #22 "Genres are undefined"
**Describe the bug**
The genres array is undefined for the game `Puyo Puyo Tetris`, but this bug probably happens in other games too.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for "Puyo Puyo Tetris"
2. Go to its game details page
3. Click on the "Genres" tab

**Expected behavior**
You should see the genres of the game (`Puzzle` in this case)

**Screenshots**
![image](https://use

[2019-05-06 16:49] danielgrijalva opened #23 "User auth"
- [x] Sign up form
- [x] Log in form
- [x] API endpoints
- [x] Redux for auth state
- [ ] Social auth (Facebook, Twitter)

[2019-05-06 18:58] danielgrijalva opened #24 "Landing page"
- It should resemble the landing page of [letterboxd](letterboxd.com):

![Screen Shot 2019-05-06 at 11 57 38-fullpage](https://user-images.githubusercontent.com/11547406/57248016-2c74c980-6ff6-11e9-9e7c-8e9459843f16.png)

[2019-05-06 19:06] danielgrijalva opened #25 "PropTypes"
We should define (and document) PropTypes in every React component.

[2019-05-07 18:02] #24 closed

[2019-05-08 22:53] danielgrijalva commented on #23
Branch for this issue: [register](https://github.com/danielgrijalva/letterboxd-for-games/tree/register).

[2019-05-21 21:08] danielgrijalva opened #27 "Redux"
We need a single source of truth, mainly for authentication.

[2019-05-24 00:36] danielgrijalva commented on #2
Checkpoint

[2019-05-24 05:31] danielgrijalva commented on #23
Completed most of this with #29

[2019-05-24 05:31] #23 closed

[2019-05-24 05:32] danielgrijalva commented on #27
Implemented in #29

[2019-05-24 05:32] #27 closed

[2019-05-24 05:33] danielgrijalva commented on #2
![logo](https://user-images.githubusercontent.com/11547406/58304800-12d3d000-7db3-11e9-9b80-bc2c0a2c9168.png)

[2019-05-26 05:12] danielgrijalva opened #32 "Improve user actions"
With #31 the following was accomplished:

However, this can be improved:
- [x] Instead of having two endpoints for each action, like `/log` and `/unlog`, use a single endpoint `/log` that just toggles the previous value
- [ ] Let the parent `Actions.js` component manage the action/rating state, instead of leaving that work to the children (`Rating.js` and `Buttons.js` components)

[2019-05-27 01:49] #2 closed

[2019-05-29 03:58] #32 closed

[2019-06-03 18:24] NeutralDread commented on #22
Hello, I would like to take this issue. I rand through the contributions steps but am having issues getting the backend up. When i run  `python manage.py migrate`
[code]

[2019-06-03 18:27] danielgrijalva commented on #22
Hi! which Python version are you using? and what OS?

[2019-06-03 18:30] danielgrijalva commented on #22
The `path` module is from Django 2.0+, which only works with Python 3.4+, so chances are you are running it with Python 2 :thinking:

https://stackoverflow.com/a/48524457

[2019-06-03 18:52] NeutralDread commented on #22
Thanks for the fast reply!
I'm using Mac OS Sierra 10.12.6
and have python3 installed but even when i run python3 manage.py migrate i get the same result

[2019-06-03 18:57] NeutralDread commented on #22
I followed the steps in the link you provided and got it running. Thank you!
Going to look into this issue

[2019-06-03 19:26] danielgrijalva commented on #22
Oh damn, it appears this issue is no longer relevant... we migrated to the IGDB API recently and the error doesn't happen anymore, at least on my end :thinking: can you please confirm this, @NeutralDread?

[2019-06-03 19:29] NeutralDread commented on #22
@danielgrijalva was just gonna message you haha.
It looks like it was resolved

[2019-06-03 19:30] NeutralDread commented on #22
Im seeing the genres populate correctly and no extra errors in console

[2019-06-03 19:40] danielgrijalva commented on #22
Yeah sorry about that, I should've close the issue :sweat_smile:

Glad you got the project to run though. If you want, you can take on issue #14 or #25. I'll be adding more documentation, issues and guidelines this coming days so stick around! :smile:

[2019-06-03 19:40] #22 closed

[2019-06-03 19:48] danielgrijalva commented on #14
Example 1:
* Go to `Dragon Quest Builders 2`
* There's an error with the game's companies/developers

Example 2:
* Go to `Doom: Eternal`
* The Release Date field says `Invalid date`

Example 3:
* Go to `Spitan Spirits Expedition - in the Phantasmagoria`
* Somethings wrong with the screenshots... `TypeError: Cannot read property '1' of undefined`

[2019-06-03 19:54] NeutralDread commented on #22
No worries 😆
Thanks for the help, and I will check out any other issues i think i could contribute to and keep a look out for future ones!

[2019-06-15 05:27] danielgrijalva commented on #4
Powered by Gitbook :zap: https://overworld.gitbook.io/docs/v/docs/

[2019-06-17 21:51] #25 closed

[2019-06-21 14:33] mikesmith opened #53 "Updated/Added files after following documentation initial setup steps"
Hello! This is my first issue on GitHub, so please let me know if this isn't an issue or there is a better way to report this. If you think that this is more an artifact of my local config, please let me know. Thanks!

I followed the installation steps in the [setup](https://overworld.gitbook.io/docs/v/documentation/getting-started/setup) section of the documentation. Everything seems to work; how

[2019-06-21 16:39] danielgrijalva commented on #53
Hi @mikesmith! Thanks for pointing this out. And don't worry, it's perfectly fine to report this in an issue, that's what they're for!

1. I did a clean install and you're right, `npm install` modifies the package-lock. I then tried `npm ci` and it works fine, but I'm a little concerned about this, do you think it could break the app? :thinking:

2. Yes, I forgot to add the Semantic UI setup in th

[2019-06-21 20:14] danielgrijalva commented on #21
Done:

[2019-06-21 20:15] #21 closed

[2019-06-21 20:26] danielgrijalva opened #57 "Mock requests to IGDB API"
As pointed out in #56, I had to _temporarily_ remove tests for the `games` app as they are hitting the real API and wasting resources/requests.

We should mock the IGDB API to re-integrate these tests. Here's a tutorial: https://realpython.com/testing-third-party-apis-with-mocks/

[2019-06-21 20:46] mikesmith commented on #53
Thanks @danielgrijalva!

1. 🤔That is a concern. I couldn't find any more explicit information about what "certain user-oriented features" are being skipped. If ```npm ci``` is meant for testing and CI, I would hope that it doesn't break the app. Another [SO](https://stackoverflow.com/questions/52499617/what-is-the-difference-between-npm-install-and-npm-ci) that I found might give a little more con

[2019-06-21 21:05] danielgrijalva commented on #53
The project I installed with `npm ci` works as expected, it's not broken _yet_. Also, check this:

I think `npm ci` is the way to go, since what we want to achieve with the Setup section of the documentation is to do an installation for the first time :smile:

Thanks @mikesmith!

[2019-06-23 00:27] danielgrijalva commented on #53
Resolved by #58 and #59

[2019-06-23 00:27] #53 closed

[2019-06-23 19:44] mikesmith commented on #57
@danielgrijalva, I'm interested in taking this on if you don't mind.

[2019-06-23 21:42] danielgrijalva commented on #57
@mikesmith go ahead!

[2019-06-24 17:34] danielgrijalva opened #60 "Add your favorite games to your profile"
Just like on Letterboxd, users should be able to add their favorite games (5) to their profile.

This functionality happens in the `/settings` page, next to the form to edit your general information:
![image](https://user-images.githubusercontent.com/11547406/60038310-d670e980-9668-11e9-8dbc-8fbcfdfe2adc.png)

1. Here's how it should work:
![Peek 2019-06-24 10-24](https://user-images.githubusercon

[2019-06-24 17:51] danielgrijalva opened #61 "User avatar"
Users should be able to upload an image as their avatar/profile picture in the `Settings` page.

For storage, we can use a service like [Cloudinary](https://cloudinary.com) (it offers a free tier) or go the easy way and use [Gravatar](https://en.gravatar.com/).

[2019-06-24 19:03] danielgrijalva opened #62 "User ratings"
A bar graph that aggregates all the user ratings, like this:
![image](https://user-images.githubusercontent.com/11547406/60041405-27d0a700-9670-11e9-879c-d17a730007b5.png)

This component should appear in the sidebar (right) of the profile.

[2019-06-24 19:25] danielgrijalva opened #63 "List component"
The list component consists of 5 game posters overlapping each other, used for showcasing lists.

This component  has several use cases in Overworld. For example: the backlog, wish list and lists. Another visual example from Letterboxd:

[2019-06-26 05:43] mikesmith opened #65 "popular endpoint resolves to get-game view instead of get-popular"
**Describe the bug**
`popular/` resolves to `get-game` instead of `get-popular` view. I think this may be due to the recent change of using a slug instead of a GUID for `get-game`.

`popular/` matches `<str:slug>/` first in the urlpatterns in `games/urls.py`. [Django Resource](https://docs.djangoproject.com/en/2.2/topics/http/urls/)

**Screenshots**
A screenshot of the popular games section on the

[2019-06-26 14:06] mikesmith commented on #65
If the solution to this is as simple as re-ordering `popular/` to be before `<str:slug>/` in urlpatterns, I can throw this into my PR (#66).

[2019-06-26 15:28] danielgrijalva commented on #65
@mikesmith yeah I think that's a possible solution. Can you see if it works? :open_mouth:

[2019-06-26 16:09] danielgrijalva opened #67 "Acknowledging Contributors"
We've configured the [all-contributors](https://allcontributors.org) bot to acknowledge the work of all contributors! :sparkles: you can add yourself by commenting on **this issue**. Usage:

[code]

[Here](https://allcontributors.org/docs/en/emoji-key) you can find more information about the type of contributions. Happy coding!

[2019-06-26 16:09] danielgrijalva commented on #67
@all-contributors please add @danielgrijalva for code, tests, infrastructure, ideas and maintenance.

[2019-06-26 16:15] danielgrijalva commented on #67
@all-contributors please add @mikesmith for tests, documentation and bug reports :sparkles:

[2019-06-26 20:02] mikesmith commented on #65
@danielgrijalva Yea! Will try and add it to the PR if it works.

[2019-06-26 22:47] danielgrijalva commented on #65
I tested it and it works like a charm... I didn't know Django checked URLs in order and stopped at the first match, huh :thinking:

[2019-06-27 02:47] mikesmith commented on #57
In addition to https://realpython.com/testing-third-party-apis-with-mocks/, I used this article to figure out the mocking: http://engineroom.trackmaven.com/blog/real-life-mocking/

[2019-06-27 03:16] danielgrijalva commented on #65
Fixed by #66

[2019-06-27 03:16] #65 closed

[2019-06-27 03:17] danielgrijalva commented on #57
Fixed by #66

[2019-06-27 03:17] #57 closed

[2019-06-27 18:43] mikesmith commented on #19
@danielgrijalva What do you have in mind for front end testing? Mocha? Jest? Selenium?

[2019-06-27 18:45] danielgrijalva commented on #19
@mikesmith I dunno honestly... what do you recommend? I have used Jest with Vue, but not _that_ much

[2019-06-28 04:49] mikesmith commented on #19
@danielgrijalva Unfortunately, I can't really make a recommendation. I haven't done much with Mocha or Jest. I can look into it if it will help.

[2019-06-28 16:50] mikesmith commented on #19
Doing a quick round of research, looks like Jest works out of the box but is more opinionated with the assertion and mocking libraries built in. Whereas, Mocha needs more configuration up front but has the flexibility of choice regarding the libraries it uses.

In the past couple of years, it seems like Jest got a lot of fanfare and recommendations but it seems to really come down to preference.

[2019-07-02 17:42] danielgrijalva commented on #19
Sorry for the delay; Jest seems to fit more with the scope of this project so I'd go with that @mikesmith

[2019-07-05 17:21] danielgrijalva commented on #18
I was able to deploy the backend and frontend separately:

* The API is hosted on Heroku: https://overworld-api.herokuapp.com/
* The frontend is deployed on Netlify: https://overworld.netlify.com/

[2019-07-06 20:09] danielgrijalva opened #82 "Show wishlist in profile stats"
Instead of showing the number of lists a user has, show how many games they have in their wishlist.

This can be easily achieved, just take a look at how it is done with the games/backlog count.

[2019-07-08 17:03] drsherlock commented on #82
Will pick it up.

[2019-07-08 17:12] danielgrijalva commented on #82
Great, thanks!

[2019-07-08 21:12] danielgrijalva commented on #82
Resolved by #83

[2019-07-08 21:12] #82 closed

[2019-07-08 21:24] danielgrijalva commented on #67
@all-contributors please add @drsherlock for code :computer:

[2019-07-08 21:27] danielgrijalva commented on #61
Solved by #84

[2019-07-08 21:27] #61 closed

[2019-07-09 23:44] danielgrijalva commented on #60
I'm working on this.

[2019-07-10 22:46] #60 closed

[2019-07-11 14:29] BenNF opened #87 "Running 'python backend/manage.py migrate' breaks on windows"
**Describe the bug**
Running `python backend/manage.py migrate` breaks on windows with the following stacktrace.

![image](https://user-images.githubusercontent.com/9667215/61059167-90d15200-a3c6-11e9-95f4-ec3850a3b866.png)

This is due to `os.environ["HOME"]` being used to get the path of the users home directory
the `HOME` key is platform specific and therefore breaks on windows.

I will submit

[2019-07-11 15:13] danielgrijalva commented on #87
Fixed by #88

[2019-07-11 15:13] #87 closed

[2019-07-11 15:18] danielgrijalva commented on #67
@all-contributors please add @BenNF for finding bugs and maintenance :bug:

[2019-07-11 15:55] BenNF opened #90 "Cannot install Semantic UI on windows with node version > 10.10.0"
Due to an ongoing bug in Semantic UI Semantic-Org/Semantic-UI#6641 It cannot be installed on windows with node version higher than 10.10.0.

Due to this issue running `npm ci` on windows breaks and does not complete the install.

A possible fix is adding `{ "engines" : { "node" : ">=6.0.0 <=10.10.0" } }` to package.json and package-lock.json

This will produce a warning if the user has a newer ver

[2019-07-11 16:39] danielgrijalva commented on #90
Huh. Go ahead and create the PR :+1: thanks again!

[2019-07-11 16:47] BenNF commented on #62
Is this the ratings on the users profile? Or is this ratings on a game like Letterboxd does for films?

![image](https://user-images.githubusercontent.com/9667215/61069287-ef53fb80-a3d9-11e9-9793-1032ef1b723e.png)

[2019-07-11 16:50] BenNF opened #91 "Recent/Popular Games Browser"
There should be some kind of recent/popular browser when loading the /games route.

It current shows the not found message.

What should this browser look like?
How should it pick the featured games?

Here is an example from Letterboxd of what their film browser looks like.

![image](https://user-images.githubusercontent.com/9667215/61069465-596ca080-a3da-11e9-9fd2-b232e3b655e9.png)

[2019-07-11 16:59] danielgrijalva commented on #62
This is for the users profile, but the component should be reusable so we can use it for game ratings in a game's page

[2019-07-11 17:25] BenNF commented on #90
There doesn't seem to be an easy way to throw an error based on node version when doing a `npm install`  or `npm ci`. I'm just going to add a message to the setup documentation.

[2019-07-11 18:35] BenNF commented on #62
Ok sounds good, I've started work on this.

Does the API already support getting all ratings by user or by game?  Or is that something that also needs to be added?

[2019-07-11 18:47] danielgrijalva commented on #62
Nope not yet, this feature also involves adding the API logic.

Something like this can be done with the `Ratings` model:
[code]

[2019-07-11 18:52] danielgrijalva commented on #62
And for the bar graph maybe [D3.js](https://d3js.org/)? or maybe something simpler? :thinking:

[2019-07-11 19:52] BenNF commented on #62
I don't think this graph is complicated enough to need d3.js. I was able to build a decent looking version with some styling and divs.

[2019-07-11 22:42] #90 closed

[2019-07-12 13:15] BenNF commented on #62
I've been trying to extend the profile endpoint to include include ratings but i'm not sure i'm fully understanding the architecture of the API.
I added a `ratings` field to the Profile Serializer as well as adding
`ratings = models.ManyToManyField(Ratings, related_name='ratings')`
to the custom user model but am running into some errors related to DB field names.

Is this the correct approach to

[2019-07-12 16:29] BenNF commented on #91
@danielgrijalva I'm going to take a first pass at this. Feel free to assign it to me.

[2019-07-12 16:52] BenNF opened #97 "Bug in backend due to new backdrop_id's"
Running `python manage.py migrate` fails with the following stack trace. This seems to be due to the most recent changes to adding background_id to the DB possibly from commit 297a73b80dc460b355384357ef65825430a8cd2e.
@danielgrijalva Any ideas how to fix this?

Operations to perform:
  Apply all migrations: actions, admin, api, auth, contenttypes, games, knox, sessions, sites, users
Running migrat

[2019-07-12 16:55] BenNF commented on #97
Running the server also causes a crash as soon as the frontend makes a request. I can include the full stacktrace but the error that seems to be causing it is
`django.db.utils.OperationalError: no such column: games_game.backdrop_id`

[2019-07-12 17:01] danielgrijalva commented on #97
Oh yeah that's normal, everytime we add a column/field or new model, we need to update the database:
[code]

[2019-07-12 17:04] danielgrijalva commented on #97
Nevermind I just read that you already did that. It fails because the backdrop_id field can't be null and you have data on your database that doesn't have that field.

[2019-07-12 17:59] danielgrijalva commented on #62
Hey @BenNF do you still need help with this? I see you pulled it off with your PR...

[2019-07-12 18:36] mikesmith commented on #19
Hey @danielgrijalva. Sorry for such a delay. I've been distracted the past couple of weeks. If this is still available, I can take on the initial frontend tests.

[2019-07-12 19:01] danielgrijalva commented on #19
@mikesmith no worries man! we don't really have deadlines so go ahead! 😄

[2019-07-12 21:35] #63 closed

[2019-07-12 22:06] raufabr commented on #14
@danielgrijalva I am happy to pick this up. I tried searching the games but I couldn't load anything. Would like your help a bit in setting up my dev environment.

[2019-07-13 00:04] danielgrijalva commented on #14
@raufabr great, thanks! 😄

[2019-07-13 16:42] #20 closed

[2019-07-13 21:47] danielgrijalva opened #101 "Bug with game country and time to beat"
There's a problem with the `/time_to_beats` endpoint from [IGDB](https://api-docs.igdb.com/#time-to-beat). Sometimes it returns NaN, but sometimes it works well.

There's also a problem with the way we show countries. Some games have an empty country value.

Take the game _Firewatch_ for example:

[2019-07-13 23:37] raufabr commented on #14
Hi, I need some help with this.

For Example 1, the website crashes when you click on Genres Tab with the following error:

TypeError: Cannot read property 'map' of undefined in the following code in <Details /> component -

This bit of the code is throwing an error even though there is an array being passed.

I've tried a couple of different things but I couldn't figure out what the issue is.

**

[2019-07-14 04:47] danielgrijalva commented on #14
@raufabr I noticed that bug too. The options you posted fix the issue? If so, option 1 seems more adequate 🤔

[2019-07-14 08:40] raufabr commented on #14
Neither options fix the issue and I'm lost :confused:

[2019-07-14 08:41] raufabr commented on #14
I'll work on the other 2 bugs now. I've just put an Error Boundary for the time being which won't at least crash the website.

[2019-07-14 10:22] drsherlock commented on #101
I can pick this one.
Do you want to hide these fields in case of empty and NaN values?

[2019-07-14 20:15] danielgrijalva commented on #101
@drsherlock yeah that's exactly what I was thinking!

[2019-07-14 23:17] danielgrijalva commented on #14
@raufabr I just noticed something: it's not the `genres` that are causing the problem, is the `themes` array!

[code]

The game DQ Builders 2 doesn't have any `themes`, that's why it's `undefined`. The solution would be to apply option 1 (check if games.themes exists).

[code]

[2019-07-15 13:18] BenNF opened #104 "Bug: Creating account causes plaintext html to be displayed in many error bars."
Creating an account on the newest commit on master results in the following error.

![image](https://user-images.githubusercontent.com/9667215/61219043-54149c00-a6e1-11e9-8ba4-9f081576051a.png)
![image](https://user-images.githubusercontent.com/9667215/61219066-61ca2180-a6e1-11e9-81f6-d0cac028eadc.png)

This continues for awhile and eventually stops.

Looks like somehow its reading out a index.htm

[2019-07-15 13:31] BenNF commented on #104
The error was due to the fact that I didn't have by `.env`'s configured correctly. This bug appears to only be in how the error is displayed when the backend server cannot be contacted. It should display a single error with a 404 message.

[2019-07-15 15:33] danielgrijalva commented on #104
The API returns an HTML view for some errors (404 not found errors, for example). Using a `timeout` value on axios calls in the front end might be a solution?

[2019-07-15 17:00] danielgrijalva opened #106 "Change rating system to 5-star"
Having a 1-10 based system is... annoying, mainly because 10 stars are harder to read/count for a human, and they take too much space. My proposal is to migrate towards a 5 star system with half-stars

Unfortunately the Semantic UI rating component doesn't support half stars, but [this library](http://dreyescat.github.io/react-rating/) does.

[2019-07-15 19:01] zoeyyandi commented on #106
hi @danielgrijalva, is this issue up for grabs?

[2019-07-15 19:07] danielgrijalva commented on #106
hey @zoeyyandi I'm about to submit a PR that solves this issue! :sweat_smile: sorry, I should've mentioned I was going to grab it.

[2019-07-15 21:42] danielgrijalva commented on #106
Resolved by #107

[2019-07-15 21:42] #106 closed

[2019-07-15 22:46] raufabr commented on #14
OK that is really weird! Because the browser throws a different error. I'll commit my changes and update my PR tomorrow. Sorry for the delay, I've been working all day today. :tired_face:

[2019-07-16 00:42] danielgrijalva commented on #14
@raufabr no worries man! 😄

[2019-07-16 14:59] drsherlock commented on #101
Time to beat will not work until it is fixed by IGDB team. Hiding the field for now.
Also, do you want to show just one country if multiple countries are present?

[2019-07-16 15:56] danielgrijalva commented on #101
I would like to show all the countries involved 😃

[2019-07-16 17:51] danielgrijalva opened #110 "Improve Journal"
The Journal feature has been working for a couple of weeks now. You can log a game and add it to your library of played games with a specific date to indicate the day when you _finished_ it, just like on Letterboxd when you watch a movie.

But due to the nature of video games, right now this feature falls behind. The way we consume this kind of entertainment is very different from movies: you can'

[2019-07-16 18:57] #101 closed

[2019-07-16 22:05] raufabr commented on #110
Maybe users can add their LoL user name and we could get their current profiles from a site like op.gg?
e.g. https://euw.op.gg/summoner/userName=therauf

[2019-07-16 22:08] raufabr commented on #14
Thanks @danielgrijalva
I dunno what happened but I kept looking at genres and not themes. :disappointed:
One of those bugs.

[2019-07-16 22:09] raufabr commented on #14
I've updated my latest code in the pull request. Will fix example 3 and submit my fix by tomorrow morning.

[2019-07-16 22:35] danielgrijalva commented on #110
@raufabr yeah, that's something we can add to the "connections" section in the settings! maybe also include PSN, Steam, Xbox and what not

[2019-07-17 19:34] raufabr commented on #14
This should be fixed now. Let me know if anything else is required.
:smile:

[2019-07-18 17:27] #110 closed

[2019-07-18 17:34] #62 closed

[2019-07-19 04:07] mikesmith opened #114 "Update documentation with frontend testing info"
Add a frontend testing section to the documentation.

Include packages/dependencies used, how to run tests, and possibly adding coverage instructions (similar to backend testing section).

[2019-07-19 18:40] danielgrijalva commented on #67
@all-contributors please add @raufabr for fixing bugs and code!

[2019-07-19 18:42] #14 closed

[2019-07-19 18:49] danielgrijalva opened #117 "Wrong developer in game title"
**Describe the bug**
The developer showing besides the game title (next to the game's release year) is wrong for the game Rocket League, and possibly for other games too.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for "rocket league" or go directly to the game's page
2. See that it's showing "Panic Button Games" instead of "Psyonix".

**Expected behavior**
It should show the game

[2019-07-19 22:41] raufabr commented on #117
@danielgrijalva I can have a go at this.

[2019-07-19 22:49] danielgrijalva commented on #117
Sure, go ahead! @raufabr

[2019-07-19 22:51] danielgrijalva commented on #117
The game Firewatch also has this problem - it's showing the publisher name instead of the developer.

[2019-07-19 22:54] raufabr commented on #117
Just so that I understand the logic correctly, can a video game only have one publisher and multiple developers?
The API has
`publisher: true || false ` for each company mentioned.

[2019-07-19 22:57] danielgrijalva commented on #117
The game details show as many publishers/developers the game has, but in the title, only the main developer must be shown, which is always the first (_I think_...)

[2019-07-19 23:15] raufabr commented on #117
You want to show the publisher name right? If so, the game Firewatch is doing it correctly.

I've fixed the issue with rocket league, will create a PR once you confirm.

[2019-07-20 07:23] mikesmith commented on #114
@danielgrijalva I've created a draft in gitbook. Let me know if you can see the proposed changes and if there is anything that should be added/changed/updated. Thanks!

[2019-07-22 20:43] raufabr commented on #19
@mikesmith I'm looking to pick up some of the testing components as well. Can you please tell me what you're working on atm? Also what libraries are you using?

[2019-07-22 22:07] mikesmith commented on #19
Hi @raufabr! I'm currently trying to finish up the Landing component. We currently have a Jest + Enzyme setup. I am planning on adding the `redux-mock-store` library to help test the connected apps in my next PR. Also, we have the ability to do snapshot testing via 'enzyme-to-json`; however, it we are deferring those tests until we have a more stable UI design.

Hopefully that helps. Feel free to

[2019-07-22 22:30] raufabr commented on #19
I'm thinking of doing the **Game** and **Details** component. I'm quite new to Jest + Enzyme so I think these would be fairly easy to do. They don't make any async calls or use redux so should be simple.

[2019-07-22 23:41] mikesmith commented on #19
@raufabr I'll stay away from those components when I pick up my next set of tests. Thanks!

[2019-07-23 16:06] danielgrijalva commented on #114
@mikesmith looks good to me - just merged it! Gonna close this issue now, thanks!

[2019-07-23 16:06] #114 closed

[2019-07-23 16:14] #97 closed

[2019-07-23 16:31] danielgrijalva opened #121 "Show more game information"
We should show more information in a game's page. We already have the data thanks to IGDB, so here's a list of what I'd like to show:
* ~~Screenshots (`screenshots` field)~~
* Videos (`videos` field, show only the trailer if available)
* Similar games (`similar_games` field)
* DLCs/Expansions (`dlcs` and `expansions` field)
* Age ratings in the Details section (`age_ratings` field)
* ~~Ratings (us

[2019-07-23 16:32] danielgrijalva commented on #121
I'm gonna pick up the Ratings feature.

[2019-07-24 03:12] danielgrijalva opened #123 "Truncate game summary"
**Is your feature request related to a problem? Please describe.**
Sometimes, a game's summary is too long and it takes up a lot of screen space.

**Describe the solution you'd like**
The summary should be truncated to ~5 lines (?) and display a "Read more" link to display the rest of the text.

Perhaps this can be achieved with the library [react-truncate](https://github.com/One-com/react-truncat

[2019-07-24 22:09] danielgrijalva commented on #121
Added ratings with #122 and screenshots with #124

[2019-07-26 05:38] Amrithnath commented on #121
Hey, I would like to give this a shot @danielgrijalva

[2019-07-26 15:28] danielgrijalva commented on #121
Sure @Amrithnath! which option are you picking up?

[2019-07-26 17:39] Amrithnath commented on #121
I would like to do all of them but if I'm required to choose one I'm currently working on the age ratings part

[2019-07-26 17:42] danielgrijalva commented on #121
@Amrithnath Alright then! let me know if you need any help.

[2019-07-26 21:42] ProfoundWanderer commented on #123
![truncate](https://user-images.githubusercontent.com/18703678/61983022-58d02e80-afc4-11e9-983c-cba9242ed1de.gif)
Something like this?

[2019-07-26 23:39] danielgrijalva commented on #123
@ProfoundWanderer yes! like that 💯

[2019-07-28 19:30] raufabr opened #126 "Front end testing for Details and Game components"
Going to start writing Front end unit tests, which is something we do not have right now.

I'm going to start writing test cases with Jest and Enzyme for the **Details** and the **Game** components.

[2019-07-28 19:30] raufabr commented on #126
@danielgrijalva please assign this to me.

[2019-07-29 04:03] Amrithnath commented on #121
Hey @danielgrijalva was busy over the weekend, Ill have some updates for you today though. I was just wondering if you knew what the number returned by the age_ratings field in the games API meant. I couldn't figure out how to extract the age_ratings based on that number

[2019-07-29 15:41] danielgrijalva commented on #121
@Amrithnath that number is actually the ID of an age rating, not the age rating itself.

If you use `age_ratings` alone in the `fields.py` file, it returns only the ID. So, you need to set that field to: `age_ratings.category` and also `age_ratings.rating` (this dot syntax is called multi-querying). The category is either ESRB or PEGI and the rating is, well, the rating.

Once the API returns the

[2019-07-29 15:50] danielgrijalva commented on #123
Fulfilled with #125

[2019-07-29 15:50] #123 closed

[2019-07-29 15:51] danielgrijalva commented on #67
@all-contributors can you add @ProfoundWanderer for coding?

[2019-07-30 06:58] Amrithnath commented on #121
Hey @danielgrijalva , Thanks for the info , I should have read the docs completely my bad. I have attached a screenshot of how the age ratings appear. Let me know if that's fine.
![screenshot](https://user-images.githubusercontent.com/13913707/62106857-f036c980-b2c3-11e9-858a-9e9ca51a7de0.jpg)

[2019-07-30 16:09] danielgrijalva commented on #121
@Amrithnath looks great, congrats! just one little thing: can you make it so the PEGI rating displays numbers? e.g. `PEGI 16`

[2019-07-30 18:29] BenNF opened #129 "Viewing a game that does not have screenshots causes a crash"
Loading the /games/\<slug> endpoint for a game that does not return screenshots causes a crash with the following stack trace. It looks like the Screenshots component does not handle screenshots not being returned.

An example of a game with this behavior is /games/torchlight-frontiers

[code]

[2019-07-30 22:19] #129 closed

[2019-07-31 10:18] Amrithnath commented on #121
Hey, I got the video(trailer only) to display as well. Currently it is an embed from Youtube. Should the similar games and the DLC and expansions field be a separate tab in the details section? Here is a screenshot of how it looks currently
![Video](https://user-images.githubusercontent.com/13913707/62204301-92c97800-b3aa-11e9-943d-986e80d2e5f8.jpg)

[2019-07-31 17:06] danielgrijalva commented on #121
* For the trailer I was thinking of something like this:

    When clicked, it should open a modal with the embed _or_ open a new tab to YouTube. I'm not sure which option would be better, what do you think?

* Regarding the similar games and DLCs section, those should be below the screenshots, using the Header component from Semantic UI for the titles:
[code]
    Each game in the similar games an

[2019-08-01 07:18] Amrithnath commented on #121
Hey @danielgrijalva I think a modal would be the best option for the video. I'll try to implement it in that way.

[2019-08-01 12:17] Amrithnath commented on #121
I got the video to display on the modal but i discovered a bug in my implementation and I'm unable to figure out how to fix it. Here is a screenshot

![Video bug 2](https://user-images.githubusercontent.com/13913707/62292455-130fdc00-b484-11e9-9310-5891c20e3099.jpg)
![Vidseo Bug](https://user-images.githubusercontent.com/13913707/62292456-130fdc00-b484-11e9-8e30-33e030018539.jpg)

Basically the sa

[2019-08-03 05:22] mikesmith opened #133 "TypeError when closing register modal without submitting"
**Describe the bug**
TypeError occurs after closing Register modal without submitting.

**To Reproduce**
Steps to reproduce the behavior:
1. On Landing page, click on "Get Started"
2. Observe the register modal appears with blank defaults
2. Close the register modal by clicking on the 'x' (or outside the modal)

**Expected behavior**
No TypeError when closing the register modal.

**Desktop (please

[2019-08-05 06:24] Amrithnath commented on #121
Hey @danielgrijalva was busy over the weekend, will have an update for you today

[2019-08-05 16:33] danielgrijalva commented on #121
@Amrithnath no worries friend. Did you figure out the root for the multiple-trailers bug?

[2019-08-05 16:37] danielgrijalva commented on #133
Thanks for pointing it out. Will take a closer look at the code later today.

[2019-08-05 17:18] Amrithnath commented on #121
Yea it was fixed in the latest commit, It was because I was using the map function to map all names that matched trailers to create an embed. But for each name that matched trailer I used the same video ID. Fixed in #131

[2019-08-05 23:52] ProfoundWanderer opened #136 "Options to Share Page"
Currently, on game pages, the share link/button doesn't do anything.

Here is the share button currently:
![current](https://user-images.githubusercontent.com/18703678/62501810-0c4dd580-b7b2-11e9-9982-2a2839fc8aac.gif)

Not exactly sure what share options you would prefer.

I did the below to try out an option for it:
![share](https://user-images.githubusercontent.com/18703678/62501251-92b4e800-b7

[2019-08-07 13:50] Amrithnath commented on #121
Hey @danielgrijalva I was implementing the similar games feature and I keep getting this error

`Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null.`

below is the index.js of my similar_games component
![image](https://user-images.githubusercontent.com/13913707/62628018-28837b00-b948-11e9-974b-2ac11e0e69d3.png)

Here is the simil

[2019-08-07 16:19] danielgrijalva commented on #121
@Amrithnath shouldn't there be a `return` statement before `game.similar_games.map(...)`? (line 7in the index.js file)

[2019-08-07 18:08] Amrithnath commented on #121
Whoops my bad, that issue is solved now. hey suddenly the game object is returning an empty object from the back end. I'm not sure if this is an issue with their API or something. Even the game.cover.image_id (which was working just a few seconds before is failing.)

![image](https://user-images.githubusercontent.com/13913707/62646641-60041e80-b96c-11e9-9196-1a6d2e3274f1.png)

I didn't change anyt

[2019-08-07 21:46] danielgrijalva commented on #121
@Amrithnath maybe you've exceeded the API limit? remember you can only make 10k requests per month (you can check that on the "Stats" section on https://api.igdb.com)

[2019-08-08 06:56] Amrithnath commented on #121
Doesn't seem like it says I have used 5600 requests over the past month. I'll try cloning the project again, that should fix it. Another weird thing is that only the game API seems to be failing on my project because the landing page is displaying everything properly.

[2019-08-09 12:02] Amrithnath commented on #121
hey, sorry no updates for you in a while @danielgrijalva , I had some major git issues in my local-system where all my latest changes made for the similar_games feature was lost. Just got the project working again  so will rebuild it and push it for review

[2019-08-09 16:47] Amrithnath commented on #121
Hey I built out the similar games feature. But there is a bug currently which I'm unable to fix currently. The Cover Images for the similar games are displaying in a landscape(4:3 ratio??) orientation rather than portrait. Tried changing the image size in the src link for the image to no avail.

![image](https://user-images.githubusercontent.com/13913707/62794805-a7b4b280-baf2-11e9-8ff4-a50e34be50

[2019-08-09 17:16] danielgrijalva commented on #121
@Amrithnath it appears you're using the wrong URL for the cover 😅

In the Similar_game.js file (line 7):
[code]

Notice the `t_screenshot_${size}`... it should be `t_cover_${size}` so the IGDB API returns an image with the correct size for a cover. Here's the docs for that: https://api-docs.igdb.com/#images

[2019-08-12 09:42] Amrithnath commented on #121
Hey I have done the DLCs and Expansions feature.Here is a screenshot of DLCs. I wasnt able to find a game that returned the Expansions field

![image](https://user-images.githubusercontent.com/13913707/62856774-6bac6800-bd13-11e9-95f6-f12889b07f43.png)
![image](https://user-images.githubusercontent.com/13913707/62856793-7c5cde00-bd13-11e9-8595-d98ca8857eb3.png)

[2019-08-12 20:46] danielgrijalva commented on #136
Hey @ProfoundWanderer sorry for the delay. This looks really awesome! The only thing I'd add is an option to share (copy) the URL itself, for example:

[2019-08-16 04:52] Amrithnath commented on #121
hey @danielgrijalva do you have any feedback on this?

[2019-08-16 17:27] danielgrijalva commented on #121
Sorry, I've been busy the last couple of weeks. I'm gonna review everything on your PR and provide some feedback now!

[2019-09-04 16:31] ProfoundWanderer commented on #136
Starting to work on this now. I had some weird issues with my project that I had to fix but everything seems to be working normally now.

[2019-09-24 03:32] theVernon124 opened #138 "Add Integration/End-to-end tests"
Hello! This is an interesting project and I observed that unit tests are covered mostly for API and partly for the front-end. To increase overall functional test coverage, I'd like to contribute by writing end-to-end tests, mainly for the front-end for now. I'm thinking of using pytest + selenium; If this sounds good, kindly assign the issue to me and I'll get right to it. Thank you!

[2019-10-01 15:45] alcoelho commented on #121
Hey, I really liked the project and I want to help with this issue. I'm not sure if the original post is up to date, but can I get the similar_games feature?

[2019-10-01 20:31] andrhua opened #140 "Possible legal issues"
I don't mind the fact that nowadays a lot of stuff is coming, so to speak, from others ideas, but this one really bothers me. I think at least you should think of different UI, because who knows how greedy the Letterboxd guys are. I'm not affiliated with them, just speaking from stranger's perspective

[2019-10-06 17:32] akpark commented on #133
I can work on this if no one else is.

There's a PR up right now from TonyDMorris, https://github.com/danielgrijalva/overworld/pull/141, that doesn't pass code coverage..but I think it's fine since the change is so small.

[2019-10-09 04:51] filipe-gomes commented on #121
@danielgrijalva let me know if anything else still needs done on this, I'd love to help.

[2019-10-17 02:57] aabuderi commented on #121
Hey @danielgrijalva I'm also really into this project. If the "Age ratings in the details" part is still available, I'd love to pick it up.

[2019-10-23 20:41] #133 closed

[2019-10-23 20:41] #117 closed

[2019-10-23 20:42] danielgrijalva commented on #104
Fixed by #143

[2019-10-23 20:42] #104 closed

[2019-10-23 20:44] danielgrijalva commented on #67
@all-contributors please add @theVernon124 for writing tests.

[2019-10-23 20:45] danielgrijalva commented on #67
@all-contributors can you add @TonyDMorris for fixing a bug?

[2019-10-23 20:45] danielgrijalva commented on #67
@all-contributors can you add @bovas85 for fixing bugs?

[2019-10-23 20:48] danielgrijalva commented on #67
@all-contributors can you add @Apoorv01017 for fixing typos in the content?

[2019-10-23 20:51] danielgrijalva commented on #67
@all-contributors please add @bingocaller for upgrading packages.

[2019-10-23 21:25] danielgrijalva commented on #67
@all-contributors can you add @akpark for coding and maintenance?

[2019-10-23 21:42] danielgrijalva commented on #138
Hi @theVernon124, again sorry for the delay. I just merged the tests you provided, thanks! should I leave this issue open in case you or someone else wants to add more tests?

[2019-10-23 21:46] danielgrijalva commented on #19
Related issue: #138

[2019-10-24 00:58] theVernon124 commented on #138
Hi @danielgrijalva , no problem, and thanks for merging! Sure, you can leave the issue open just in case.

[2019-10-28 16:55] danielgrijalva commented on #67
@all-contributors can you add @bingocaller for tools and infra?

[2019-10-29 18:27] imdoingotherthings commented on #136
Interesting feature. I'd like to help out on this if no one is currently working on it.

[2019-10-29 21:41] danielgrijalva commented on #136
Sure @imdoingotherthings go ahead!

[2019-10-29 21:47] ProfoundWanderer commented on #136
@imdoingotherthings I haven't had time to work on it but if you look at my repo I do have it at the point will if you hover it the icons and url show (not a shortened url). It may give you a good starting spot.

[2019-10-30 01:07] imdoingotherthings commented on #136
Nice! I'll take a look at it. Thanks! @danielgrijalva @ProfoundWanderer

[2019-11-01 06:27] imdoingotherthings commented on #136
@ProfoundWanderer @danielgrijalva I'm receiving a 404 error from the backend. Any ideas?
So the reason why I'm starting up the server is because I'm receiving 404 errors on the frontend retrieving the data.

I've installed all dependencies and packages from Django, Python3 and React respectively using the `.sh` file and `requirements.txt` file.

The issue that I'm currently receiving from both **h

[2019-11-01 09:00] ProfoundWanderer commented on #136
Not that I know of but give me like 2 hours and I'll make sure the latest
was pushed.

On Fri, Nov 1, 2019, 1:27 AM Asai Andrade <notifications@github.com> wrote:

[2019-11-01 11:53] ProfoundWanderer commented on #136
It's the most updated but the only thing I can think of is make sure your
api key is good and not over the limit of calls.

On Fri, Nov 1, 2019, 4:00 AM Derrick F <freemandc@mymail.vcu.edu> wrote:

[2019-11-01 17:59] rodpa715 commented on #126
Hello, just landed on this via codetriage.org, can I help adding front-end testing?

[2019-11-01 18:10] RodPaDev opened #156 "Refactor Frontend to use Functional Components"
I've been taking a look at the frontend part of this project and noticed that most of the components are written used class components, which in itself is not bad but functional components are faster and don't have all that componentWillDid nonsense

To proceed with this I would first write test for each component and then proceed on to refactoring into functional

I know refactoring is scary but

[2019-11-01 20:30] imdoingotherthings commented on #136
This is probably the issue. I haven't injected my api key. I'll give that a shot. Thanks! @ProfoundWanderer

[2019-11-01 22:56] danielgrijalva commented on #126
Please do! thanks @rodpa715 😄

[2019-11-01 23:00] danielgrijalva commented on #156
Hello @rodpa715. I've been considering this for a few weeks now, since I've been reading about hooks and all that new stuff. It is scary indeed, but doable and the benefits are worth it.

Your approach to this issue sounds excellent (write tests first) so, **go ahead**! 🎉

The only problem is that there's little documentation for each front end component (I'm lacking of free time lately 😅). I'll t

[2019-11-09 18:44] danielgrijalva opened #158 "Bug when rating a game without backdrop"
**Describe the bug**
When you rate a game (or interact with it in any way) it is saved to the database for caching its data (name, id, cover and backdrop images, etc) and avoid extra calls to IGDB. This particular bug happens when you rate a game that doesn’t have a backdrop image, because the code tries to access an `undefined` array.

**To Reproduce**
Steps to reproduce the behavior:
1. Search f

[2019-11-10 07:40] danielgrijalva opened #160 "Replace Redux with Context API and Hooks"
This proposal would simplify the code and the overall front end code. We would need to remove all the Redux code (actions, reducers, store…) and replace it with [Context](https://reactjs.org/docs/context.html), which is simpler and easier to understand.

[Here’s](https://medium.com/octopus-labs-london/replacing-redux-with-react-hooks-and-context-part-1-11b72ffdb533) an article that explains how to

[2019-11-10 07:45] danielgrijalva commented on #140
I hear you. I was a bit concerned about this too, but since we haven’t really stolen/copied any code directly from them, I doubt there would be any legal problems.

The only issue would be that the design/layout is extremely similar, but still, we are _not_ monetizing through ads or anything so they are not being hurt with this 🤷‍♂

Lastly, they are a small team from New Zealand with 1.5+ million

[2019-11-13 18:32] danielgrijalva opened #162 "Sign up page"
**Is your feature request related to a problem? Please describe.**
Right now users can only sign up from the `Get Started` button located in the landing page. There’s no independant `/signup` page where users can directly create their account.

**Describe the solution you'd like**
Besides having that button in the landing page, it’d be good to have a separate sign up page with a form.

**Additiona

[2019-11-13 18:35] danielgrijalva opened #163 "Log in page"
Extremely similar to #162.

Basically, create a `/login` page so users can log in from there instead of depending on the landing page or the nav bar.

[2019-11-22 22:30] danielgrijalva opened #164 "Replace <a /> with <Link /> components"
Using `<a href=“…” />` for links _destroys_ the DOM and the app’s state. The `<Link />` components from any router (we use [react-router](https://github.com/ReactTraining/react-router) in Overworld) use HTML history and preserve the DOM and state.

Currently, we are using anchors links in several parts of the codebase. My proposal is to replace/refactor that code and use [`<Link />`](https://githu

[2019-11-25 07:27] lenniezelk commented on #164
@danielgrijalva can i work on this?

[2019-11-25 17:11] danielgrijalva commented on #164
sure @lenniezelk be my guest 😃

[2019-11-26 09:17] nad0m commented on #162
Hi @danielgrijalva, I'm interested in working on this feature. Possibly #163 as well. Are there any UI or theme requirements? I checked letterboxd.com and they seemed to be doing their sign in/up modally as well so I can't really draw any inspiration from it. :)

[2019-11-26 17:33] danielgrijalva commented on #162
@nad0m sure, I will assign this and #163 to you.

About the UI mockups… I was thinking of just putting the modals “in-line” in the `/login` and `/signup` pages (hopefully you understand what I mean by in-line 😅).

I would add a [`<Backdrop />`](https://overworld.gitbook.io/docs/v/documentation/frontend/common-components/backdrop) component as well just to pretty things up.

[2019-11-26 17:34] danielgrijalva commented on #163
[@nad0m](https://github.com/nad0m) has been assigned to this issue.

[2019-11-27 22:26] danielgrijalva commented on #164
Fixed by #165

[2019-11-27 22:26] #164 closed

[2019-11-27 22:27] danielgrijalva commented on #67
Closing this one because it’s too cluttered now.

[2019-11-27 22:27] #67 closed

[2019-11-27 22:28] danielgrijalva opened #166 "Acknowledging Contributors"
We've configured the [all-contributors](https://allcontributors.org) bot to acknowledge the work of all contributors! :sparkles: you can add yourself by commenting on **this issue**. Usage:

[code]

[Here](https://allcontributors.org/docs/en/emoji-key) you can find more information about the type of contributions. Happy coding!

[2019-11-27 22:29] danielgrijalva commented on #166
@all-contributors can you add @lenniezelk for his code contributions?

[2019-11-28 08:42] pathak-pratik commented on #158
Hi. I have fixed this issue. Please review @danielgrijalva

[2019-11-29 18:55] danielgrijalva opened #170 "Annoying 1Password extension in the <GameSearch /> component"
### Context
The 1Password extension (and other password managers like LastPass) have the functionality to autofill your usernames/passwords, and they commonly sit on the side of inputs in case you want to configure something or pick a password manually. This is great and I have nothing against that.

### Bug
The problem is that this functionality is “leaking” into the `<GameSearch />` component us

[2019-11-30 14:23] detri commented on #160
I think this is potentially blocked by #156. The front end is still using class components and we need to be using FCs to be able to use hooks. Of course, I suppose it is possible to refactor only the components using the store to be FCs.

Also, I don't think all of the redux code needs to be removed. The actions and reducers can remain, we just need to turn the store into a context.

Just my two

[2019-11-30 19:02] danielgrijalva commented on #160
@detri you’re right about the actions and reducers; we can leave them and utilize them with Context 😅

And yeah I suppose we need to refactor the class components into functional ones first… I’m thinking that this issue is too big (refactor into Hooks _and_ implement Context) so I will probably split it into two.

Let me know if you are interested in working on this!

[2019-11-30 20:19] detri commented on #160
Sure - I'm looking to get a start into contributing to open source and this seems like a good project for it. I wouldn't mind tackling turning components into functional ones. That is by far the more time-consuming task -- would it be advantageous to split that up into, say, one PR per module? It would ensure everything works together and make things easier on reviewers (500 line PRs are no fun to

[2019-11-30 21:37] danielgrijalva opened #172 "Use React Hooks"
Some components would be benefited by the simplicity of [Hooks](https://reactjs.org/docs/hooks-intro.html). The codebase would also be lighter (fewer lines of code), easier to read and understand.

Here’s a great talk that sort of covers what this issue is about: [90% Cleaner React With Hooks — Ryan Florence](https://www.youtube.com/watch?v=wXLf18DsV-I).

[2019-11-30 21:40] danielgrijalva commented on #160
One PR per module/component sounds great!

I’ve put up #172 for this matter so, refer to that issue for your future PRs. Thanks @detri!

[2019-12-01 05:01] detri commented on #172
Hmm, so it appears `connect` from `react-redux` doesn't work with non-class components. I think we can pass the store as it is now into a top-level context and use it that way since that's just what `react-redux` does under the hood anyways. It looks like that will be absolutely necessary to get `connect`ed components turned into functional components, so I'll include that as part of my first PR w

[2019-12-01 05:19] detri commented on #172
I may have been mistaken with the above comment, it actually seemed to be an import issue and not anything wrong with using `connect`. Going to keep experimenting. Some tests are going to need to be re-written in the process to be more integration-like due to hooks and not being able to call wrapper.setState, etc.

[2019-12-01 05:22] detri commented on #172
`connect` does have issues with functional components aside from the import issue, but I was able to get around them and bypass both redux-thunk and react-redux by passing the store in via `useContext` and passing the store's `dispatch` method into the thunks directly. Looks like tests just need refactored now! Progress!

[2019-12-02 00:35] detri commented on #172
So it was more of a testing problem than a `connect` problem - connect works fine but not outside of the provider (duh @detri).

That being said, I do think this will need to be one massive PR. I can't mix useContext with connect or else it causes issues, such as the site thinking you're logged out on certain pages (wonkiness with loadUser perhaps). I've finished the "app" module and it's now enti

[2019-12-02 06:06] danielgrijalva commented on #172
Perhaps we could work on getting rid of Redux stuff before using Hooks? Is that possible?

[2019-12-02 09:57] detri commented on #172
I think either way will require a huge PR to ensure the app is working the same as before once we merge. Hooks work in such a different way that we need a total conversion to happen all at once, or at least that's what I'm experiencing. I think it's ok to continue as I am since I'm able to reuse the react-redux context until we're ready to switch to useReducer + useContext. I can put up a draft PR

[2019-12-02 17:33] danielgrijalva commented on #172
Alrighty! I’ll wait for your PR and review it, and once I get the gist of your code I’ll be able to jump into it and help you if you want 😃

[2019-12-02 21:13] detri commented on #172
Awesome! WIP PR #173 is up! Let me know what you think. I plan on switching to react-redux's hooks (useSelector, etc) instead of grabbing the store straight from the context as it's more efficient to do so, but here's as far as I've gotten right now.

(I just learned react-redux had its own hooks today, lol)

[2019-12-03 02:53] detri commented on #172
^ The above task is complete, tests are now fixed and I opted to mock useSelector since it seemed less dirty than mounting with the Provider

[2019-12-09 19:14] danielgrijalva commented on #166
@all-contributors please add @detri for coding, testing and ideas! 🎉

[2019-12-11 16:52] danielgrijalva commented on #166
@all-contributors please add @pathak-pratik for fixing a bug 🐛

[2019-12-13 07:38] PathakPratik commented on #172
@danielgrijalva @detri
I would like to help complete with task. I have gone through the comments and the PR for app module. Will start with the settings module. Does that sound good?

[2019-12-13 14:52] detri commented on #172
Sounds good to me, I haven't had time to start on the games module just yet but I'm planning on doing that soon

[2019-12-17 20:26] tlaudahl commented on #170
Can I take this? I downloaded 1password just to test this and I was able to get it to work without 1password showing up.

Something I noticed while messing with it is if there are too many results they get cut off and there is no way to scroll or view the results past where its cut off which I could include the fix in my PR or you can create a new issue to address just that

[2019-12-22 07:50] PathakPratik opened #178 "Need to make the Overworld Website Mobile-Friendly"
When we open the Overworld website on a mobile, we see that it is not responsive and hence very difficult to use.

We could use Flexbox and Media queries or a framework like Bootstrap for achieving a fully responsive website.

A screenshot showing how the home page is rendered in mobile is attached below:-

![Overworld](https://user-images.githubusercontent.com/17859354/71318924-5adbe200-24bd-11ea

[2019-12-22 07:55] PathakPratik commented on #158
Please close this issue, since it has been fixed. Thanks.

[2019-12-24 05:42] #158 closed

[2019-12-24 20:08] danielgrijalva commented on #166
@all-contributors please add @PathakPratik for coding, testing and fixing bugs ✨

[2019-12-24 20:27] danielgrijalva commented on #166
@all-contributors can you add @tlaudahl for fixing the searchbar bug?

[2019-12-24 20:28] danielgrijalva commented on #170
Fixed by #180

[2019-12-24 20:28] #170 closed

[2019-12-24 20:29] #91 closed

[2019-12-24 20:34] #140 closed

[2019-12-24 20:35] danielgrijalva commented on #162
@nad0m any updates?

[2019-12-24 20:35] danielgrijalva commented on #136
@imdoingotherthings any updates? 😮

[2019-12-24 20:40] danielgrijalva commented on #121
@Amrithnath @alcoelho @filipe-gomes @aabuderi this is still open in case you want to contribute!

[2019-12-24 20:53] danielgrijalva commented on #178
Definitely, this is something that’s been bugging me since the start and I’m just delaying it.
I thought that using the [grid system](https://react.semantic-ui.com/collections/grid/) from Semantic UI would cover this but apparently nope (or maybe we are missing something and need to implement them correctly…?)

I think that one of the main problems is that I set a `min-width` for the body in index

[2019-12-25 11:32] tlaudahl commented on #178
I’ll look into this as well. I’m pretty comfortable with flex box and media queries. Would there be any objection to converting the css to sass/less? @danielgrijalva  It makes writing css way easier, especially media queries in my opinion. If not that’s fine

[2019-12-25 15:50] PathakPratik commented on #178
Even I think using Sass/Less would be great.

[2019-12-26 02:40] danielgrijalva commented on #178
@tlaudahl go ahead. I was thinking of using styled components but sass seems more flexible 😃

[2020-01-01 16:01] tlaudahl commented on #178
I’ve been busy with Christmas and New Years stuff going on but I got time now I’ll finally start on this when I get home from work

[2020-01-04 20:11] PathakPratik commented on #178
Had a look at the code for Home page. Removing the min-width set in index.css does help. After which some fixes specific for each component are required. The main task though looks like making the navbar responsive. We may have to create a hamburger menu for mobile devices. What do you guys think?

[2020-01-04 20:16] PathakPratik commented on #178
Also, opened a PR which makes the settings page responsive. Just adding 'stackable' property to grid did the trick. #186

[2020-01-04 20:23] tlaudahl commented on #178
Probably a good idea, still think it's a good idea to convert all the css to sass? It will get processed into css again anyway but I'll have to go through every css file and make a new sass file for it and compile it

[2020-01-04 20:36] PathakPratik commented on #178
How about using scss?
http://thesassway.com/editorial/sass-vs-scss-which-syntax-is-better

It could help us incrementally use sass features with minimal efforts.

[2020-01-06 21:01] danielgrijalva commented on #178
SCSS seems better to me since more people could jump into it from CSS without knowing much about SASS.

And the navbar sure is the main problem to tackle—hamburger menu sound great but couldn’t find anything related in Semantic UI docs.

[2020-01-15 06:15] PathakPratik commented on #162
I could help complete this if it's available! :smiley:

[2020-01-15 17:51] danielgrijalva commented on #162
Go ahead @PathakPratik 👍

[2020-01-16 07:17] PathakPratik commented on #162
![signuppage](https://user-images.githubusercontent.com/17859354/72501909-1c3c0c00-385e-11ea-98b7-2cfb87bcb6e6.png)

How does this look? Any suggestions?

[2020-01-17 20:05] danielgrijalva commented on #162
@PathakPratik I like it! but I’m not sure about the backdrop… it makes the form look a bit off and misplaced 🤔

[2020-01-18 18:20] PathakPratik commented on #162
Agreed. Even I thought so. That's why I was asking for an opinion.

[2020-01-18 18:24] PathakPratik commented on #162
I have explored some alternative design options. Please help me decide what looks better. Or you could suggest something. Once we decide what skeleton we could go with, then will fine-tune further on it.

[2020-01-18 18:26] PathakPratik commented on #162
![signup1](https://user-images.githubusercontent.com/17859354/72668526-e8bfd400-3a4d-11ea-8189-0ae86bc295dd.png)
![signup2](https://user-images.githubusercontent.com/17859354/72668530-f412ff80-3a4d-11ea-8045-79862b9c992d.png)
![signup3](https://user-images.githubusercontent.com/17859354/72668531-f7a68680-3a4d-11ea-84ee-9e5d9b3dc66e.png)
![signup4](https://user-images.githubusercontent.com/17859354

[2020-01-20 03:02] danielgrijalva commented on #162
I _love_ the first one and the last! I would probably go with the last one though because it looks easier to responsify for mobile devices 🤔

[2020-01-26 18:23] PathakPratik commented on #162
Turns out both the designs are mobile-friendly. Hence, incorporated the first one for the login page and the last one for the signup page.

[2020-01-27 09:36] PathakPratik opened #188 "Developer info and all games created by a particular developer"
Currently, on the game page, we show the developer of the game as a link which redirects to the homepage. Ideally, this to take us to the page where all the information of the developer including the games developed by him should be shown.

This is similar to the 'director' page in Letterboxd.

[2020-01-27 09:56] PathakPratik commented on #188
@danielgrijalva I am working on this feature now.

[2020-04-02 03:37] ryaweb commented on #160
Hi are you still looking for help on this

[2020-04-11 04:39] skekre98 opened #193 "Discover video games using content based recommendations"
Would like to enhance the user's ability to discover video games by making personal recommendations.

Solution: Leverage the liked games of a user in order to provide personalized video games. Would leverage IGDB API to search for games based on liked games. We could then sort games based on whatever priority we believe fits.

I would like a section on user profile or on home page called discover

[2020-04-11 04:40] #193 closed

[2020-04-11 04:45] skekre98 opened #194 "Discover section with recommended video games"
I was hoping there was a way for users to discover video games in a personalized way. I was thinking we could recommend video games based on liked/played video games. We could accomplish this by leveraging the IGDB API and search for games based on liked games and sort games based on specific priority. I personally believe some good features to sort on would at first be genre and platform(this can

[2020-04-11 16:53] skekre98 commented on #194
@danielgrijalva I can look into this feature.

[2020-04-20 18:21] Ofineo commented on #178
Has this progresses since the last post? I would like to help if it's still needed.

[2020-04-24 00:00] jeengland commented on #172
I was interested in contributing to this, but after following the setup guide and running everything my API calls continued to be answered with 401 statuses. I don't know a lot about the backend that's being used here but I would be happy to contribute if I could get over this hurdle.

[2020-05-12 12:04] elliotwood1 commented on #121
@danielgrijalva do any of these still need picking up? I'd be keen to contribute! Maybe age ratings?

[2020-06-10 00:11] elfjingjing opened #196 "Prompting message when confirm a different password"
### Is your feature request related to a problem? Please describe.
Right now, the requirement for the password  is just "at least 8 characters".  I tried different combinations of numbers/characters/symbols, they all work. But when user types a different password for confirming step, there is no message to tell user that he/she typed a different password, only the "Sign up" button can't be clicked

[2020-06-12 21:16] tpic12 commented on #163
Hey @danielgrijalva is this issue still available? I love the idea behind Overworld and would love to help. Also, are you thinking of something where if the user is not logged in they will be redirected to the login/signup page when trying to access a private route?

[2020-06-19 22:19] isand3r opened #197 "Login redirect/button for header links when unauthenticated"
**Is your feature request related to a problem? Please describe.**
When arriving at the site for the first time, if the user clicks any of the links in the header (Games, People, or lists),
they arrive at a "not found" page.

**Describe the solution you'd like**
For a smoother **new user** experience, it would be cool to see either a redirection to the login page or a login button displayed on the

[2020-06-20 15:11] arunaaabh95 opened #198 "Local setup issue"
I have setup the project on my local machine after going through the setup guide. I have the following specification
 python 3.8
node 12.3 (>10 was recomended)
PostgreSQL 12

I do not get any issues with semantic ui during setup as mentioned in the doc but on running the project locally I could see the following issue
Client issue
![image](https://user-images.githubusercontent.com/15111263/8520505

[2020-07-01 14:05] dotis90 commented on #196
I recently came across this project and I'm very interested in contributing. This is an issue I will be able to solve, so I'll start working on it.

[2020-07-07 09:57] danielgrijalva commented on #196
@dotis90 go ahead, submit a PR when it's ready so I can review it :)

[2020-07-07 11:00] danielgrijalva commented on #198
Hello! sorry for my absence. I ran into this issue too and got it solved by logging into [IGDB](https://api.igdb.com/) and generating a new API key, then paste it in the `.env` file located in the project root. This way I could make requests through Overworld again.

Let me know if this solves the issue.

[2020-07-07 11:02] danielgrijalva commented on #166
@all-contributors can you add @asheerrizvi for their code contribution?

[2020-07-07 11:04] #197 closed

[2020-07-07 11:06] danielgrijalva commented on #194
@skekre98 hi, sorry for my absence. Any updates on this feature?

[2020-07-07 11:07] danielgrijalva commented on #188
PR #190 fulfills this request

[2020-07-07 11:07] #188 closed

[2020-07-07 11:20] danielgrijalva commented on #178
@Ofineo @PathakPratik @tlaudahl hey guys, sorry for being absent. I just fixed a conflict in PR #191, which introduces SCSS. I merged the branch so now we got SCSS fully working :)

[2020-07-07 11:34] danielgrijalva commented on #163
@tpic12 this issue was fulfilled by #187

[2020-07-07 11:34] #163 closed

[2020-07-07 11:34] #162 closed

[2020-07-07 11:39] danielgrijalva commented on #121
@elliotwood1 hey sorry for the absence. Seems that Amrithnath didn't submit any PR with their work... nor did any of the above contributors, so it's still open if you wanna give it a try! :D

[2020-07-12 08:35] arunaaabh95 commented on #198
Hey @danielgrijalva, I created and added the keys just like your said and it worked. I think it would be great idea if we include this in setup docs and then close the issue.

Thanks for the help.

[2020-07-12 11:15] #198 closed

[2020-07-18 21:55] Panda4817 commented on #178
Hello,

I think this project is a great idea and I had some ideas about how to make the site more mobile responsive. Maybe a stackable navbar would be a good idea. I have forked it and got it working locally. I have tinkered with the scss and this is the result:

![homepage](https://i.imgur.com/iw9bOGv.gif)

![logged in](https://i.imgur.com/JlNDp7F.gif)

These are files that have been changed (onl

[2020-07-20 15:46] Amrithnath commented on #121
hey you can check out #131 it fixes all of the issues there. Let me know what I can do to make it merge-able.

[2020-07-21 00:08] danielgrijalva commented on #178
Hey @Panda4817 thanks a lot! this is a nice improvement.

Can you work on the stackable navbar?

[2020-07-21 08:58] farce1 commented on #196
@dotis90 any update on this issue, are you still on it?

[2020-07-22 09:36] viraj47 opened #203 "comprehensive rating system"
I think it would be better for users to get individual rating score on various aspects of the game like gameplay,story,graphics etc. Users can rate the game on aforementioned aspects of the game so other users can make more informative decision regarding buying or playing the game. If you would like to add this kind of feature to your project i would be more than happy to help. Please let me know

[2020-07-24 15:21] JohnMachado11 commented on #178
I have experience with Bootstrap, HTML, CSS and Javascript. My last project was 100% mobile and desktop friendly. Any progress been made on the site conversion to make it mobile friendly?

[2020-07-24 18:00] Panda4817 commented on #178
@danielgrijalva I have done a PR, please take a look 🙂

[2020-07-24 18:03] danielgrijalva commented on #178
@Panda4817 oh yeah sorry. I've merged it now, thanks! ❤️

[2020-07-30 21:26] nobi1007 commented on #136
Hey @danielgrijalva can I work on this issue, if yes, please let me know what url-shortener you would suggest !

[2020-07-31 17:38] nobi1007 commented on #136
This is how it looks if the **PR** is merged,

![improve_share_option](https://user-images.githubusercontent.com/30571441/89061561-8a6f9880-d382-11ea-9d4f-a817a794ae1f.gif)

[2020-08-14 22:18] danielgrijalva commented on #136
@nobi1007 amazing! thank you, will merge now

[2020-08-14 22:19] #136 closed

[2020-08-14 22:20] danielgrijalva commented on #166
@all-contributors please add @nobi1007 for their coding contributions.

[2020-08-17 15:08] jawad-nafad commented on #196
Is this issue solved by any chance? I want to have a look if not. TIA

[2020-08-26 10:12] jawad-nafad commented on #196
@danielgrijalva thank you! I will have a look

[2020-09-29 14:41] MohammedBajuaifer commented on #121
Hey, I would like to work on this, is it still open?

[2020-10-07 12:45] winlaithandar commented on #121
Hello @danielgrijalva I am a student studying computer science. For the opensource development module, we are supposed to choose a project and make some enhancement on it. Can i use your project for my assignment? And i want to try on Similar games (similar_games field) for contributing.

[2020-10-19 11:35] joshnho commented on #172
hi is this still open ?

[2020-10-19 11:37] joshnho commented on #160
still open?

[2020-10-21 12:23] hawkens23 opened #207 "Something Went Wrong Error"
Every time I go to the website, it brings up a “Something Went Wrong” error, resulting in no functionality of the website. Both on IOS iPhone 6s and Windows PC.

[2020-11-04 23:47] #156 closed

[2020-11-18 19:33] russellrogers commented on #19
Hi, I know it's been a bit but I'd like to pick up some testing components for the FrontEnd and was wondering if there is anything that either of you are still working on that I should avoid? @raufabr @mikesmith

[2020-11-20 05:08] mikesmith commented on #19
@russellrogers Thanks for checking. I'm not currently working on anything. So, have at it.

[2020-11-21 17:36] russellrogers commented on #19
Okay, great! If it's all the same to everyone, I'll try tackling the **Profile** components' frontend tests.

[2020-12-25 10:36] WilliamCheng12345 commented on #196
Hi, I am interested in solving this issue. Has the issue been resolved? Thank you!

[2020-12-27 01:30] jawad-nafad commented on #196
Hi William,
Daniel previously mentioned me that it is still open and I can continue on
solving, but unfortunately I got busy with my regular life so I could not
manage time to solve the issue. Therefore, I believe it is still open and
you can work on it. Cheers!

On Fri, Dec 25, 2020, 9:36 PM WilliamCheng12345 <notifications@github.com>
wrote:

[2020-12-30 06:43] WilliamCheng12345 commented on #196
Oh ok, I will take a look.

[2021-01-07 02:36] ThomasMaher commented on #160
Would also like to contribute to this if its still open.

[2021-01-20 22:02] ItzaMi commented on #178
Is this issued finished?

[2021-04-20 18:31] GekoShell commented on #207
I'm also receiving this error. Looking into the debug menu I found this, which could be the source.
![image](https://user-images.githubusercontent.com/65116471/115446249-d1523680-a20e-11eb-8650-65468044001a.png)
Some sort of error with the API? This may need to be looked into further.

[2021-06-08 04:32] #203 closed

[2021-06-08 04:35] danielgrijalva commented on #207
@hawkens23 @GekoShell hey guys sorry for the late response. That error occurs when the API key expires. It's something that happens since Twitch bought IGDB, and now we are required to use Twitch authentication/dev console system: https://dev.twitch.tv/docs/authentication

[2021-06-08 04:35] #207 closed

[2021-06-08 04:35] #196 closed

[2021-06-08 04:35] #194 closed

[2021-06-08 04:36] #121 closed

[2021-06-08 04:36] #138 closed

[2022-07-18 04:01] TomatDividedBy0 opened #225 "ActivityPub Support"
Overworld would benefit greatly from ActivityPub support and becoming part of the Fediverse. It'd be a good fit in that it suits the status-oriented nature of the protocol and there'd be a larger community interested in it as you wouldn't need an account on each isolated instance but could even interact from other services such as Mastodon.

[BookWyrm](https://joinbookwyrm.com/) is a good example

[2022-08-23 01:29] TierraZabulon opened #227 "404 error"
404 error for the contributor documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/danielgrijalva/overworld
2. Click on [contributing guidelines](https://overworld.gitbook.io/docs/v/documentation/getting-started/contributing)
3. See error

**Expected behavior**
Expected to view the documentation on how to contribute

[2022-09-25 15:22] HirenChafekar commented on #178
Is the issue still open?

[2022-09-26 09:55] ZDenizYStenhaug commented on #227
Hey! I'd love to help out. do we have a working link for the contributing guidelines?

[2022-09-29 13:15] Grimoors commented on #19
Hi! This looks like a good first issue. I am new to open source and want to try to contribute to this. May I try to work on this issue

[2022-10-08 10:46] chetvishal commented on #126
are the test's still needed??